/* The sidenav */
.sidenav {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: black;
  overflow-x: hidden;
  padding-top: 20px;
}
.img-profile {
  width: 60%;
  display: block;
  margin-left: 30px;
  margin-top: 80px;
}
.nav-links a{
  display:block;
  padding-top: 20px;
  text-decoration: none;
  color: white;
  font-size: 20px;
  line-height: 4rem;
  word-spacing: 0.5rem;
}
@media (max-width:768px) {
  .sidenav {
    width: 120px;
  }
  .nav-links a{
    font-size: 14px;
    line-height: 2rem;
  }
  .img-profile {
    width: 50%;
  }
  .profile h3 {
    font-size: 18px;
  }
}


/* Page content */
#home, #about, #portfolios, #contact {
  margin-left: 200px; /* Same as the width of the sidenav */
}
@media (max-width:768px) {
  #home, #about, #portfolios, #contact {
    margin-left: 120px;
  }
}

/* home */
.home2 {
  background-image: url(./images/home.jpg);
  padding-top: 40%;
  background-size: cover;
  background-position: center;
  margin: 0 -15px;
  min-height: 500px;
}
.inner {
  /* overlay the inner <div> exactly on top of its parent */  
  top: 200px;
  left: 0;
  right: 0;
  text-align: center;
}
@media (max-width:768px) {
  .home2 h2 {
    font-size: 25px;
  }
  .home2 h1 {
    font-size: 35px;
  }
}

/* About */
.img-about-wrapper {
  width: 200px;
  max-width: 200px;
  flex-shrink: 0;
}
.img-about {
  background-image: url(./images/profile\ img.jpg);
  padding-top: calc(4 / 3 * 100%);
  background-size: cover;
  background-position: center;
}
@media (max-width:768px) {
  .img-about-wrapper {
    margin: 0 auto;
  }
}
/* Portfolios */
.img-portfolio {
  padding-top: calc(2 / 3 * 100%); /* aspect ratio 3:2 */
  background-size: cover;
  background-position: center;
}
#port1 {
  background-image: url(./images/iphone.PNG);
}
#port2 {
  background-image: url(./images/newsweek.PNG);
}
#port3 {
  background-image: url(./images/airbnb.PNG);
}
.description a{
  text-decoration: none;
  color: black;
  animation-name: description;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}
@keyframes description {
  0%   {color: red;}
  25%  {color: yellow;}
  50%  {color: blue;}
  100% {color: green;}
}

/* Contact */
#bookshelf {
  height: 300px;
  width: 100%;
}
.media a {
  text-decoration: none;
  color: white;
  font-size: 30px;
  letter-spacing: 1em;
  margin: auto;
}
@media (max-width:768px) {
  .media a {
    font-size: 20px;
  }
  .contact-links h2 {
    font-size: 30px;
  }
  .contact-links h4 {
    font-size: 20px;
  }
}